<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="vktests">
        <classes>
            <class name="tests.AuthTest"/>
            <class name="tests.PostOnWallTest"/>
            <class name="tests.EditPostTest"/>
            <class name="tests.CreateCommentTest"/>
            <class name="tests.LikeTest"/>
            <class name="tests.DeletePostTest"/>
        </classes>
    </test>
</suite>